#my-page-header {
    background-color: lightgreen;
    border-radius: 0;
    border: 0;
}
#my-page-company {
    color: black;
    text-decoration: none;
}
#my-page-navbar {
    background-color: lightyellow;
}
#my-page-heading {
    margin-bottom: 50px;
}
#my-long-section {
    background-color: lightblue;
    color: black;
    margin-bottom: 50px;
    height: 2000px;
}
.container {
    width: 100%;
}
